/**
 * @file
 * Subtheme specific CSS.
 */
 /* General Style Card */
 .card {
  background: gray;
  width: 480px;
  height: 630px;
  margin: 1rem auto;
  padding: 15px;
  justify-content: start;
  border: solid 1px black;
  border-radius: 20px;
  color: black;
  line-height: 1rem;
}
/* Style Title and Link into Card */
.card h2 a{
  text-align: center;
  color: black;
  text-transform: capitalize;
}
/* style image into card */
.card img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  text-align: center;
}
/* style text into card */
.card p {
  margin-top: 1rem;
  font-size: 20px;
  letter-spacing: 4px;
}
